/.fleet
/.idea
/.nova
/.vscode
/.zed
/auth.json
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
*.log
Thumbs.db
.agents/
accounting_saas
